.heading-1 {
  font-size: 4rem;
  color: $color-white;
}

.heading-3 {
  font-size: 2rem;
  color: $color-white;
}

.text-1 {
  color: $color-white;
}

.text-sm {
  color: $color-white;
}

.btn {
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: 1.6rem;

  background-image: linear-gradient(to right, $color-cyan, $color-blue);
  color: $color-white;
}
