$color-dark-blue: hsl(217, 28%, 15%);
$color-main-bg: hsl(218, 28%, 13%);
$color-footer-bg: hsl(216, 53%, 9%);
$color-testimonials-bg: hsl(219, 30%, 18%);

$color-cyan: hsl(176, 68%, 64%);
$color-blue: hsl(198, 60%, 50%);
$color-light-red: hsl(0, 100%, 63%);
$color-white: hsl(0, 0%, 100%);

$font-main: "Open Sans", sans-serif;
$font-accents: "Raleway", sans-serif;

@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media only screen and(max-width: 64.75em) {
      @content;
    }
  }

  @if $breakpoint == tablet-md {
    @media only screen and(max-width: 57.81em) {
      @content;
    }
  }

  @if $breakpoint == tablet-sm {
    @media only screen and(max-width: 46em) {
      @content;
    }
  }

  @if $breakpoint == tablet-tiny {
    @media only screen and(max-width: 42em) {
      @content;
    }
  }

  @if $breakpoint == phone-big {
    @media only screen and(max-width: 37em) {
      @content;
    }
  }

  @if $breakpoint == phone-md {
    @media only screen and(max-width: 30.625em) {
      @content;
    }
  }
}
