.heading-1 {
  font-size: 4rem;
  color: white;
}

.heading-3 {
  font-size: 2rem;
  color: white;
}

.text-1 {
  color: white;
}

.text-sm {
  color: white;
}

.btn {
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: 1.6rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  color: white;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.4rem;
  background-color: #1c2431;
  font-family: "Raleway", sans-serif;
}

.main {
  height: 100%;
  width: 100%;
}

.testimonials {
  background-color: paleturquoise;
}

.newsletter {
  background-color: peachpuff;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 6rem;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

.nav__link:not(:last-child) {
  margin-right: 5rem;
}

.header {
  background-image: url(../images/bg-curvy-desktop.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 25% 100%;
  height: 127vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__tagline {
  max-width: 75rem;
  text-align: center;
  padding: 4rem 3rem;
}

.header__text {
  text-align: center;
  max-width: 55rem;
  font-size: 1.9rem;
  margin-bottom: 3rem;
}

.header__btn {
  padding: 1.7rem 9rem;
}

.features {
  background-color: #181f2a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr (minmax(min-content, 38rem))[2] 1fr;
      grid-template-columns: 1fr repeat(2, minmax(-webkit-min-content, 38rem)) 1fr;
      grid-template-columns: 1fr repeat(2, minmax(min-content, 38rem)) 1fr;
  grid-column-gap: 13rem;
  grid-row-gap: 9rem;
  padding-bottom: 5rem;
}

.feature {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
  text-align: center;
  -ms-grid-rows: 8rem min-content min-content;
      grid-template-rows: 8rem -webkit-min-content -webkit-min-content;
      grid-template-rows: 8rem min-content min-content;
}

.feature--1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.feature--3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.feature__img {
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  padding-bottom: 1rem;
}

.feature__heading {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}

.feature__text {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
}

.story {
  background-color: #181f2a;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: min-content minmax(min-content, 35vw);
      grid-template-columns: -webkit-min-content minmax(-webkit-min-content, 35vw);
      grid-template-columns: min-content minmax(min-content, 35vw);
  padding: 10rem 5rem;
  grid-gap: 5rem;
}

.story__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.story:not(img) {
  grid-column: 2 / -1;
}

.story__img {
  height: 90%;
}

.story__heading {
  width: 40rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.story__text {
  padding: 2.5rem 0;
}

.story__btn {
  background-color: transparent;
  color: #65e2d9;
  font-size: 1.6rem;
  border: none;
  outline: none;
  border-radius: none;
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #65e2d9;
}

.story__arrow {
  margin-left: 1rem;
}
/*# sourceMappingURL=main.css.map */