.heading-1 {
  font-size: 4rem;
  color: white;
}

@media only screen and (max-width: 64.75em) {
  .heading-1 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 37em) {
  .heading-1 {
    font-size: 2.5rem;
  }
}

.heading-2 {
  font-size: 3rem;
  color: white;
}

@media only screen and (max-width: 37em) {
  .heading-2 {
    font-size: 2rem;
  }
}

.heading-3 {
  font-size: 2rem;
  color: white;
}

.heading-4 {
  font-size: 1.4rem;
  color: white;
  font-weight: 300;
}

.text-1 {
  color: white;
  line-height: 1.6;
}

.text-sm {
  color: white;
  font-size: 1.5rem;
}

.btn {
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: 1.6rem;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  color: white;
  font-weight: 700;
}

.btn:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#339ecc), to(#339ecc));
  background-image: linear-gradient(to right, #339ecc, #339ecc);
  -webkit-filter: brightness(150%) saturate(45%);
          filter: brightness(150%) saturate(45%);
}

.error-msg {
  color: orangered;
}

.success-msg {
  color: greenyellow;
}

.note {
  justify-self: flex-start;
  width: 100%;
  margin-top: 1rem;
  padding-left: 12%;
}

@media only screen and (max-width: 57.81em) {
  .note {
    padding-left: 10%;
  }
}

@media only screen and (max-width: 46em) {
  .note {
    padding-left: 5%;
  }
}

@media only screen and (max-width: 42em) {
  .note {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
  }
}

.hidden {
  display: none;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.4rem;
  background-color: #1c2431;
  font-family: "Raleway", sans-serif;
}

a {
  cursor: pointer;
}

.main {
  height: 100%;
  width: 100%;
  position: relative;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 6rem;
}

@media only screen and (max-width: 37em) {
  .nav {
    padding: 4rem 2rem;
  }
}

@media only screen and (max-width: 37em) {
  .nav__img {
    width: 11rem;
  }
}

@media only screen and (max-width: 37em) {
  .nav__img {
    width: 9rem;
  }
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

.nav__link:hover {
  text-decoration: underline;
  font-weight: 700;
}

.nav__link:not(:last-child) {
  margin-right: 5rem;
}

@media only screen and (max-width: 46em) {
  .nav__link:not(:last-child) {
    margin-right: 2.5rem;
  }
}

@media only screen and (max-width: 37em) {
  .nav__link:not(:last-child) {
    margin-right: 1.9rem;
  }
}

@media only screen and (max-width: 46em) {
  .nav__link {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 37em) {
  .nav__link {
    font-size: 1.3rem;
  }
}

.header {
  background-image: url(../images/bg-curvy-desktop.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 25% 100%;
  height: 127vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 64.75em) {
  .header {
    height: 75vw;
  }
}

@media only screen and (max-width: 57.81em) {
  .header {
    height: 90vw;
  }
}

@media only screen and (max-width: 46em) {
  .header {
    height: 95vh;
  }
}

.header__tagline {
  max-width: 75rem;
  text-align: center;
  padding: 3.5rem 3rem;
}

@media only screen and (max-width: 64.75em) {
  .header__tagline {
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 37em) {
  .header__tagline {
    padding-bottom: 2.5rem;
  }
}

.header__text {
  text-align: center;
  max-width: 55rem;
  font-size: 1.9rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 64.75em) {
  .header__text {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 64.75em) {
  .header__text {
    font-size: 1.7rem;
    max-width: 52rem;
  }
}

@media only screen and (max-width: 37em) {
  .header__text {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    max-width: 82vw;
  }
}

.header__btn {
  padding: 1.6rem 9rem;
}

.header__art {
  width: 45vw;
}

@media only screen and (max-width: 37em) {
  .header__art {
    width: 80vw;
  }
}

.features {
  background-color: #181f2a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr (minmax(min-content, 38rem))[2] 1fr;
      grid-template-columns: 1fr repeat(2, minmax(-webkit-min-content, 38rem)) 1fr;
      grid-template-columns: 1fr repeat(2, minmax(min-content, 38rem)) 1fr;
  grid-column-gap: 13rem;
  grid-row-gap: 9rem;
  padding-bottom: 5rem;
}

@media only screen and (max-width: 46em) {
  .features {
    grid-column-gap: 6rem;
  }
}

@media only screen and (max-width: 30.625em) {
  .features {
    -ms-grid-columns: minmax(40vw, 85%);
        grid-template-columns: minmax(40vw, 85%);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.feature {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
  text-align: center;
  -ms-grid-rows: 8rem min-content min-content;
      grid-template-rows: 8rem -webkit-min-content -webkit-min-content;
      grid-template-rows: 8rem min-content min-content;
}

.feature--1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

@media only screen and (max-width: 30.625em) {
  .feature--1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
}

@media only screen and (max-width: 30.625em) {
  .feature--2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
}

.feature--3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

@media only screen and (max-width: 30.625em) {
  .feature--3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
}

@media only screen and (max-width: 30.625em) {
  .feature--4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
}

.feature__img {
  height: 8rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  padding-bottom: 1rem;
}

.feature__heading {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}

.feature__text {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
}

.story {
  background-color: #181f2a;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: min-content minmax(min-content, 35vw);
      grid-template-columns: -webkit-min-content minmax(-webkit-min-content, 35vw);
      grid-template-columns: min-content minmax(min-content, 35vw);
  padding: 10rem 5rem;
  grid-gap: 5rem;
  z-index: 0;
}

@media only screen and (max-width: 57.81em) {
  .story {
    grid-gap: 2rem;
  }
}

@media only screen and (max-width: 46em) {
  .story {
    -ms-grid-columns: min-content;
        grid-template-columns: -webkit-min-content;
        grid-template-columns: min-content;
  }
}

@media only screen and (max-width: 30.625em) {
  .story {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.story__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.story:not(img) {
  grid-column: 2 / -1;
}

.story__img {
  width: 40vw;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

@media only screen and (max-width: 46em) {
  .story__img {
    width: 60vw;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media only screen and (max-width: 30.625em) {
  .story__img {
    width: 90vw;
  }
}

.story__heading {
  width: 40rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

@media only screen and (max-width: 57.81em) {
  .story__heading {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 30.625em) {
  .story__heading {
    width: 100%;
  }
}

.story__text {
  padding: 2.5rem 0;
}

@media only screen and (max-width: 57.81em) {
  .story__text {
    font-size: 1.4rem;
  }
}

.story__btn {
  background-color: transparent;
  color: #65e2d9;
  font-size: 1.6rem;
  border: none;
  outline: none;
  border-radius: none;
  padding: 0.5rem 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #65e2d9;
}

.story__btn:hover {
  color: white;
  border-bottom: 1px solid white;
}

.story__btn:hover > * {
  -webkit-filter: saturate(1%) brightness(130%);
          filter: saturate(1%) brightness(130%);
}

.story__arrow {
  margin-left: 1rem;
}

.testimonials {
  background-color: #181f2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10vw;
  padding-bottom: 50vh;
}

.testimonials > *:not(:last-child) {
  margin-right: 3.5rem;
}

@media only screen and (max-width: 46em) {
  .testimonials > *:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3.5rem;
  }
}

@media only screen and (max-width: 57.81em) {
  .testimonials {
    padding-top: 10vh;
    padding-bottom: 40vh;
  }
}

@media only screen and (max-width: 46em) {
  .testimonials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 4vh;
    padding-bottom: 50vh;
  }
}

.testimonials::before {
  content: "";
  width: 5rem;
  height: 5rem;
  background-image: url(../images/bg-quotes.png);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: scale(4) translate(0.7rem, 0.9rem);
          transform: scale(4) translate(0.7rem, 0.9rem);
  z-index: 10;
}

@media only screen and (max-width: 46em) {
  .testimonials::before {
    -webkit-transform: scale(1) translate(0.7rem, -0.2rem);
            transform: scale(1) translate(0.7rem, -0.2rem);
  }
}

.testimonial {
  background-color: #202a3c;
  padding: 4rem 2rem 2rem 2.5rem;
  border-radius: 5px;
  z-index: 20;
}

.testimonial__text {
  margin-bottom: 2rem;
}

.user {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-column-gap: 1rem;
}

.user__img {
  width: 3.5rem;
  border-radius: 50%;
  grid-row: 1 / -1;
}

.user__name {
  color: white;
  font-size: 1.4rem;
}

.user__position {
  font-size: 1.2rem;
}

.newsletter {
  width: 100%;
  position: absolute;
  bottom: -10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(40rem, 95rem) 1fr;
      grid-template-columns: 1fr minmax(40rem, 95rem) 1fr;
}

@media only screen and (max-width: 37em) {
  .newsletter {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.newsletter__container {
  background-color: #1c2431;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  -webkit-box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 64.75em) {
  .newsletter__container {
    width: 90%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.newsletter__heading {
  padding: 4rem 0 2.5rem 0;
}

.newsletter__text {
  width: 75%;
  text-align: center;
  line-height: 1.6;
  font-size: 1.6rem;
}

.newsletter__bottom {
  margin: 3rem 0 3.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 46em) {
  .newsletter__bottom {
    width: 85%;
  }
}

.newsletter__input {
  height: 100%;
  width: 55%;
  margin-right: 3rem;
  padding: 1.5rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 50px;
}

@media only screen and (max-width: 64.75em) {
  .newsletter__input {
    margin-right: 1.8rem;
  }
}

@media only screen and (max-width: 42em) {
  .newsletter__input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1.8rem;
  }
}

.newsletter__btn {
  padding: 0 3rem;
}

@media only screen and (max-width: 42em) {
  .newsletter__btn {
    padding: 1.4rem;
    width: 100%;
  }
}

.footer {
  background-color: #0b1523;
  padding: 15rem 0 6rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(min-content, 35rem) (minmax(min-content, 20vw))[2] max-content 1fr;
      grid-template-columns: 1fr minmax(-webkit-min-content, 35rem) repeat(2, minmax(-webkit-min-content, 20vw)) -webkit-max-content 1fr;
      grid-template-columns: 1fr minmax(min-content, 35rem) repeat(2, minmax(min-content, 20vw)) max-content 1fr;
  -ms-grid-rows: min-content 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
  grid-gap: 3rem;
}

@media only screen and (max-width: 64.75em) {
  .footer {
    -ms-grid-columns: 1fr minmax(min-content, 35rem) minmax(min-content, 20vw) max-content 1fr;
        grid-template-columns: 1fr minmax(-webkit-min-content, 35rem) minmax(-webkit-min-content, 20vw) -webkit-max-content 1fr;
        grid-template-columns: 1fr minmax(min-content, 35rem) minmax(min-content, 20vw) max-content 1fr;
    -ms-grid-rows: min-content max-content 1fr;
        grid-template-rows: -webkit-min-content -webkit-max-content 1fr;
        grid-template-rows: min-content max-content 1fr;
    grid-gap: 5rem;
  }
}

@media only screen and (max-width: 37em) {
  .footer {
    -ms-grid-columns: min-content;
        grid-template-columns: -webkit-min-content;
        grid-template-columns: min-content;
    -ms-grid-rows: min-content (min-content)[4];
        grid-template-rows: -webkit-min-content repeat(4, -webkit-min-content);
        grid-template-rows: min-content repeat(4, min-content);
    grid-gap: 2.5rem;
  }
}

.footer__logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  grid-column: 2 / -1;
  width: 15rem;
}

.footer__text-container {
  grid-row: 2 / -1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 64.75em) {
  .footer__text-container {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
}

@media only screen and (max-width: 37em) {
  .footer__text-container {
    padding-top: 2rem;
    width: 90vw;
  }
}

.footer__location-img {
  width: 2rem;
  height: 2rem;
  margin-right: 1.5rem;
}

@media only screen and (max-width: 37em) {
  .footer__text {
    margin-left: 1rem;
  }
}

.footer__contact {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  grid-column: 3 / -1;
  display: -ms-grid;
  display: grid;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-grid-columns: min-content max-content;
      grid-template-columns: -webkit-min-content -webkit-max-content;
      grid-template-columns: min-content max-content;
  grid-gap: 1.5rem;
}

.footer__contact > * {
  font-weight: 400;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 37em) {
  .footer__contact {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
  }
}

.footer__contact-icon {
  margin-left: 2rem;
}

@media only screen and (max-width: 37em) {
  .footer__contact-icon {
    margin-left: 0;
  }
}

.footer__links {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  width: 100%;
}

@media only screen and (max-width: 64.75em) {
  .footer__links {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
  }
}

@media only screen and (max-width: 37em) {
  .footer__links {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 4rem 0;
  }
}

.footer__link {
  width: 50%;
  margin-bottom: 1.5rem;
}

.footer__sms {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / span 1;
}

@media only screen and (max-width: 64.75em) {
  .footer__sms {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / span 1;
  }
}

@media only screen and (max-width: 37em) {
  .footer__sms {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / span 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.footer__sms--link:not(:last-child) {
  margin-right: 1.2rem;
}

.footer__sms--icon {
  font-size: 2.5rem;
  color: white;
}
/*# sourceMappingURL=main.css.map */