.header {
  background-image: url(../images/bg-curvy-desktop.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 25% 100%;
  height: 127vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__tagline {
    max-width: 75rem;
    text-align: center;
    padding: 4rem 3rem;
  }

  &__text {
    text-align: center;
    max-width: 55rem;
    font-size: 1.9rem;
    margin-bottom: 3rem;
  }

  &__btn {
    padding: 1.7rem 9rem;
  }
}
