.header {
  background-image: url(../images/bg-curvy-desktop.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 25% 100%;
  height: 127vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(tablet) {
    height: 75vw;
  }

  @include respond(tablet-md) {
    height: 90vw;
  }

  @include respond(tablet-sm) {
    height: 95vh;
  }

  &__tagline {
    max-width: 75rem;
    text-align: center;
    padding: 3.5rem 3rem;

    @include respond(tablet) {
      padding-bottom: 2rem;
    }

    @include respond(phone-big) {
      padding-bottom: 2.5rem;
    }
  }

  &__text {
    text-align: center;
    max-width: 55rem;
    font-size: 1.9rem;
    margin-bottom: 3rem;

    @include respond(tablet) {
      margin-bottom: 2.5rem;
    }

    @include respond(tablet) {
      font-size: 1.7rem;
      max-width: 52rem;
    }

    @include respond(phone-big) {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      max-width: 82vw;
    }
  }

  &__btn {
    padding: 1.6rem 9rem;
  }

  &__art {
    width: 45vw;

    @include respond(phone-big) {
      width: 80vw;
    }
  }
}
